.table-admin {
    width: 100%;

    td {
        vertical-align: middle;
    }

    .cell-image {
        padding: .5rem;

        img {
            width: 70px;
            height: 70px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .cell-name {
        font-weight: bold;

        span {
            transition: color .3s ease;
        }

        span:hover{
            cursor: pointer;
            color: rgb(32, 99, 167);
        }
    }

    .cell-price {
        font-weight: 600;
    }

    .cell-actions {
        text-align: center;
        button:not(:last-child) { /*siempre que no sea el ultimo boton*/
            margin-right: .25rem;
        }
    }
}